$color-base: #33f;

$screen-s: 600px;
$screen-l: 1200px;

$margin-s: 16px;
$margin-m: 32px;
$margin-l: 48px;

$font-size-s: 1em;
$font-size-m: 1.5em;
$font-size-l: 2em;

$indent-s: 30px;
$indent-m: 40px;
$indent-l: 50px;
