@import "./global";

@mixin screen-s {
  @media screen and (max-width: $screen-s) {
    @content
  }
}

@mixin screen-m {
  @media screen and (min-width: $screen-s) and (max-width: $screen-l) {
    @content
  }
}

@mixin screen-l {
  @media screen and (min-width: $screen-l) {
    @content
  }
}
