<template>
  <nav class="menu">
    <MenuIcon class="menu-icon" title="Home"></MenuIcon>
    <ul>

      <li>Home</li>
      <li>About</li>
      <li>Contact</li>
    </ul>
  </nav>
</template>

<script>
  import MenuIcon from 'vue-material-design-icons/menu.vue'
  export default {
    name: 'MenuToggle',
    data () {
      return {
        users: []
      }
    },
    components: {MenuIcon}
  }
</script>

<style lang="scss" scoped>
  .menu-icon {
    font-size: 100px;
    width: 100px;
    height: 100px;
  }

  .material-design-icon__svg {
    width: 100%;
    padding-bottom: 92%;
    height: 100px;
    overflow: visible;
  }
</style>
