<template>
  <md-card class="news-item" md-with-hover>
    <md-card-header>
      <div class="news-item-header">
        {{header}}
      </div>
    </md-card-header>
    <md-card-content>
      <p class="news-item-content">
        {{description}}
      </p>
    </md-card-content>
  </md-card>
</template>

<script>
  export default {
    props: ['header', 'description'],
    data: function () {
      return {

      }
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../assets/scss/global";

  .news-item {
  }

  .news-item-header {
    color: black;
    font-size: $font-size-m;
    font-weight: bold;
  }

  .news-item-content {
    color: black;
    font-size: $font-size-s;
    text-align: justify;
    text-indent: $indent-s;
  }
</style>
