<template>
  <div class="news-list">
      <NewsItem class="news-list-item"
        header="1. Ліквідацію місцевих загальних судів та утворення окружних судів"
        description="На вчорашньому засіданні ВРП схвалила відповідні ініціативи, якими передбачено ліквідувати 142 місцеві загальні суди та утворити 74 окружні суди"
      >
      </NewsItem>
      <NewsItem class="news-list-item"
        header="2. Ліквідацію місцевих загальних судів та утворення окружних судів"
        description="На вчорашньому засіданні ВРП схвалила відповідні ініціативи, якими передбачено ліквідувати 142 місцеві загальні суди та утворити 74 окружні судиНа вчорашньому засіданні ВРП схвалила відповідні ініціативи, якими передбачено ліквідувати 142 місцеві загальні суди та утворити 74 окружні суди"
      >
      </NewsItem>
      <NewsItem class="news-list-item"
        header="3. Ліквідацію місцевих загальних судів та утворення окружних судів"
        description="На вчорашньому засіданні ВРП схвалила відповідні ініціативи, якими передбачено ліквідувати 142 місцеві загальні суди та утворити 74 окружні суди"
      >
      </NewsItem>
      <NewsItem class="news-list-item"
        header="4. Ліквідацію місцевих загальних судів та утворення окружних судів"
        description="На вчорашньому засіданні ВРП схвалила відповідні ініціативи, якими передбачено ліквідувати 142 місцеві загальні суди та утворити 74 окружні суди"
      >
      </NewsItem>
      <NewsItem class="news-list-item"
        header="5. Ліквідацію місцевих загальних судів та утворення окружних судів"
        description="На вчорашньому засіданні ВРП схвалила відповідні ініціативи, якими передбачено ліквідувати 142 місцеві загальні суди та утворити 74 окружні суди"
      >
      </NewsItem>
  </div>
</template>

<script>
  import NewsItem from '@/components/news/NewsItem'

  export default {
    name: 'NewsItemsLists',
    components: { NewsItem }
  }
</script>
<style lang="scss" scoped>
  @import "../../assets/scss/global";
  @import "../../assets/scss/responsive-utils";

  .news-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    .news-list-item {
      @include screen-s {
        margin: $margin-s;
        flex-basis: 90%;
      }
      @include screen-m {
        margin: $margin-s;
        flex-basis: 45%;
      }
      @include screen-l {
        margin: $margin-s;
        flex-basis: 22%;
      }
    }
  }


</style>
